*{
    margin: 0;
}

.Header-main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navs ul{
    display: flex;
    list-style: none;
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;


}
.navs ul li{
    margin-left: 30px;
    font-weight: bold;
}
.navs ul span{
    color: #00BBAA;
}

.logo{
    margin-top: 30px;
    position: relative;
    right: 100px;
}

.login-bnts{
    position: relative;
    right: 150px;
}

.login-bnts .bnt{
    margin-left: 40px;
}

.login-bnts .login{
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: #00BBAA;
    padding: 12px, 58px, 12px, 58px;
}

.login-bnts .try{
    position: relative;
    background-color: #00BBAA;
    width: 120px;
    padding: 12px;
    color: aliceblue;
    border: none;
}